{% extends 'base.html' %} {% block title %}
<title>Datasets</title>
{% endblock %} {% block navitems %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a
      class="nav-link"
      href="{{ url_for('main.admin_dashboard') }}"
      style="color: white"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      href="{{ url_for('main.datasets') }}"
      style="color: white"
      >Datasets</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      href="{{ url_for('main.train_analyze') }}"
      style="color: white"
      >Train & Analyze</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      href="{{ url_for('main.manage_users') }}"
      style="color: white"
      >Manage</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      href="{{ url_for('main.profile') }}"
      style="color: white"
      >Profile</a
    >
  </li>
</ul>
{%endblock%} {% block body %}
<div class="container" style="margin-top: 50px; margin-bottom: 50px">
  <div style="text-align: center; margin-bottom: 20px; align-items: center">
    <h1>Modify Class Names</h1>
    <small
      ><b>Trained with: </b>{{model.training_algorithm}} selecting top
      {{model.number_of_features}} features</small
    ><br />
    <small
      ><b>Model Accuracy: </b>{{ "%.02f%%" | format(model.accuracy|float * 100)
      }}%</small
    >
  </div>

  <form method="POST" style="text-align: center">
    {% for class in classes %}
    <div class="mb-3 row">
      <label for="{{class}}" class="col-sm-2 col-form-label"
        ><b>Class Label:</b> {{class}}</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="{{class}}"
          name="{{class}}"
          placeholder="{{class_name[loop.index-1]}}"
        />
      </div>
    </div>
    {% endfor %}
    <button class="btn btn-success btn-lg" type="submit">
      <i class="bi bi-diagram-2-fill"></i> Save
    </button>
  </form>
</div>
{% endblock %}
